.menu__link--active {
    color: #FFEC3D;
}
:root {
    --ifm-color-primary-dark: #FFEC3D;
    --ifm-color-primary: #FFEC3D;
    --ifm-menu-color-active: #FFEC3D;
    --aa-primary-color-rgb: #FFEC3D !important;
    --aa-text-color-rgb: #FFEC3D !important;
    --aa-text-color-rgb: #FFEC3D !important;
}


a {
    color: #FFEC3D;
}

a:hover {
    color: #FFEC3D;
}

.breadcrumbs__item--active .breadcrumbs__link {
    color: #FFEC3D;
}

.aa-DetachedSearchButton {
    color: #FFEC3D !important;
}
.aa-DetachedSearchButtonIcon {
    color: #FFEC3D !important;
}

.join-us{
    margin-top: 1rem !important;
}

.join-us > .menu__link {
    color: #FFEC3D !important;
}

.page-caption {
    color: #8c8c8c;
    font-size: 1.2rem;
    font-style: italic;
}

.level {
    background: #FFEC3D;
    border-radius: 4px;
    color: #333;
    padding: 0.2rem;
}

.axis {
    background: #fff;
    border-radius: 4px;
    color: #333;
    padding: 0.2rem;
}

.dashboard select {
    height: 1.5rem;
}

.dashboard label {
    width: 12rem;
    display: inline-block;
    margin-right: 1.5rem;
}

.dashboard > .compareRole > label {
    font-weight: bold;
}

.dashboard .compareRole {
    margin-bottom: 2rem;
}

.dashboard .compare {
    margin-bottom: 2rem;
}

.dashboard > .compare label{
    display: inline-block;
    width: 12rem;
    margin-bottom: 0.5rem;
}

.dashboard > .compare select{
    width: 10rem;
}

.dashboard > .compare > span {
    margin-bottom: 2rem;
    font-weight: bold;
}